.header {
  background-color: bisque;
  padding: 20px;
}
.main {
  background-color: aquamarine;
}

.series__item--favorite {
  width: 210px;
  background-color: rgb(177, 109, 109);
  border: rgb(19, 16, 16) 10px solid;
}

/*.series__item--favorite .series__image {
  border: rgb(19, 16, 16) 10px solid;
}*/

.series__item--favorite .series__name {
  font-style: italic;
  font-size: 24px;
}
