<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/main.css">
  <title>Buscador de series</title>
</head>
<body>
  <h1 class="title">Buscador de series</h1>
  <form>
    <label for="js-btn-serie"></label>
    <input type="text" class="js-btn-serie" name="input__name">
    <input class="js-btn-search" type="submit" value="Buscar" />

  </form>
  <ul class="js-list"></ul>

  <script src="assets/js/main.js"></script>
</body>
</html>
